#wrapper{
    width:100%;
    margin: 0 auto;
    overflow: hidden;
}
#bgheader{
    background:url(bgimage.jpg);
    width: 1500px;
    height:600px;
}

#header{
    display:flex;
    justify-content: left;
    padding-top: 10px;

}
#header >li {
    list-style-type: none;
    padding :15px;
}
#header>li>a{
     text-decoration: none;
     color: rgba(255, 255, 255, 0.342);
     transition: all 500ms;
  
}

#header>li > a:hover{
    border-bottom: 3px white solid;
    padding:10px;
    transition: all 500ms;
    color: white;
}
#active:nth-child(1) {
    border-bottom: 3px white solid;
    padding: 5px;
    color: white;
    transition: all 500ms;
}
#logo{
    background: url(konto-removebg-preview.png);
    width:150px;
    height:150px;
    display: flex;
    justify-content: center;
    margin-right: 250px;
    margin-top:-20px;
     
}
#pinggiran{
    background:url(img1.png);
    width: 500px;
    height: 500px;
    margin-top: -270px;
    
    position: absolute;

}
#artikel{
    color:white;
    font-family:monospace;
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
    
    
}
.btn{
    margin-left: 44%;
    margin-top: 20px;
    font-size: 20px;
    padding: 10px 35px 10px 35px;
    background-color: rgba(221, 209, 209, 0) ;
    border-color: white;
    border-width: 4px;
    color:rgba(248, 248, 248, 0.473);
    font-family: 'Times New Roman', Times, serif;
    transition: .3s linear;
    border-style: none;
    box-shadow: white 0px 1px 5px ,white 0px 0px 0px 3px;
}
.btn:hover{
transition: .3s linear;
padding: 10px 45px 10px 45px;
color: white;
box-shadow: white 0px 1px 5px ,white 0px 0px 0px 3px;
}




#judul{
    text-align: center;
    font-size: 50px;
    color: white;
    margin-top: 70px;

}
    
    


    
    

